:root {
    /* Primary */
    --Red: hsl(0, 100%, 74%); 
    --Green: hsl(154, 59%, 51%);

    /* Accent */
    --Blue: hsl(248, 32%, 49%);

    /* Neutral */
    --Dark-Blue: hsl(249, 10%, 26%); 
    --Grayish-Blue: hsl(246, 25%, 77%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-image: url(./images/bg-intro-mobile.png);
    background-size: cover;
    background-color: var(--Red);
}

main {
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    margin-top: 80px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px;
}
.hero h1 {
    width: 80%;
    text-align: center;
}
.hero p {
    width: 90%;
    line-height: 30px;
    opacity: 90%;
    text-align: center;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}
.cta .free-trial {
    height: 80px;
    width: 90%;
    color: white;
    background-color: var(--Blue);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 5px -5px rgba(0, 0, 0, 0.2);
}
.free-trial p {
    width: 60%;
    line-height: 26px;
    font-weight: bold;
    opacity: 90%;
    letter-spacing: 1px;
    cursor: pointer;
}
.free-trial span {
    font-weight: normal;
    opacity: 90%;
}
.claim-free-trial {
    margin-top: 20px;
    height: 60vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 18px 5px -5px rgba(0, 0, 0, 0.2);
}
.claim-free-trial .form-child {
    height: 60px;
    width: 100%;
    border: 2px solid rgba(211, 211, 211, 0.5);
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-size: 0px;
    background-position: 280px;
}
.claim-free-trial .errormsg {
    font-size: 9.5px;
    color: var(--Red);
    font-style: italic;
    font-weight: bold;
    text-align: end;
    width: 100%;
    margin-top: -5px;
    display: none;
}
.claim-free-trial #email:focus {
    outline: var(--Grayish-Blue);
}
.claim-free-trial .claim-button {
    height: 60px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--Green);
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 90%;
    box-shadow: 0 5px 5px -5px Green;
    cursor: pointer;
}

.claim-free-trial P {
    font-size: 11px;
    width: 75%;
    align-items: center;
    margin-top: 5px;
    text-align: center;
    color: var(--Grayish-Blue);
}
.claim-free-trial P span {
    color: var(--Red);
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (min-width: 800px) {
    body {
        background-image: url(./images/bg-intro-desktop.png);
        background-size: contain;
    }
    main {
        height: 100vh;
        display: flex;
        flex-direction: row;
    }
    .hero {
        width: 50%;
        align-items: flex-start;
        padding-left: 150px;
    }
    .hero h1 {
        font-size: 50px;
        width: 70%;
        text-align: start;
    }
    .hero p {
        width: 70%;
        font-size: 24px;
        text-align: start;
    }
    .cta {
        width: 50%;
        padding-right: 100px;
    }
    .cta .free-trial {
        font-size: 20px;
        cursor: pointer;
    }
    .claim-free-trial{
        gap: 20px;
        height: 60vh;
    }
    .claim-free-trial .form-child:first-child {
        margin-top: 20px;
    }
    .claim-free-trial .form-child{
        height: 65px;
        font-size: 20px;
    }
    .claim-free-trial .claim-button {
        font-size: 20px;
        height: 60px;
        cursor: pointer;
    }
    .claim-free-trial P {
        font-size: 15px;
        letter-spacing: 1px;
    }
    .claim-free-trial P span {
        cursor: pointer;
    }
}